/* Stylesheet for pennant sides and results */
@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.roundDetails {
  columns: 4 10px;
  color: green;
}

.roundDetails p {
  margin-top: 0;
  margin-bottom: 0;
  background-color: aquamarine;
  border: 2px solid red;
}

.stacked {
  display: inline-block;
  width: 100%;
}
