@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Stylesheet for pennant sides and results */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background: linear-gradient(
    to bottom right,
    dodgerblue,
    white,
    rgb(247, 237, 105)
  );
  background-attachment: fixed;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
}

strong {
  font-weight: bold;
}

.match {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
}

.competition {
  color: rgb(40, 40, 40);
  font-size: 1.4rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.competition a {
  color: currentColor;
  text-decoration: underline;
}

.competition a:hover {
  color: black;
  text-decoration: none;
}

.highlightSide {
  font-weight: bold;
  font-style: italic;
  color: darkblue;
}

.verticalRule {
  width: 2px;
  background-color: gray;
  margin: 0 10px;
}

.round {
  color: darkslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.round p {
  min-width: 250px;
  max-width: 250px;
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  background-color: rgba(30, 143, 255, 0.1);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 10px;
}

.round a {
  color: currentColor;
  text-decoration: underline;
}

.round a:hover {
  color: black;
  text-decoration: none;
}

.round img {
  display: inline-block;
  vertical-align: middle;
}

.ionicon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}

.round span {
  display: inline-block;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.5);
  font-size: 1.4rem;
  text-transform: uppercase;
  color: darkslategray;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 10px;
  margin: 10px;
}

.sideHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.sideResult {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  min-width: 250px;
  max-width: 250px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.sidePoints {
  font-weight: normal;
  text-transform: lowercase;
}

.sideManager {
  margin: auto;
  padding: 10px;
}

.sideManager strong {
  text-transform: none;
}

.sideResult[data-sideWinDrawLoss="up"] {
  background-color: rgba(0, 128, 0, 0.15);
}

.sideResult[data-sideWinDrawLoss="down"] {
  background-color: rgba(255, 0, 0, 0.15);
}

.sideResult[data-sideWinDrawLoss="draw"] {
  background-color: rgba(255, 166, 0, 0.15);
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.team {
  min-width: 250px;
  max-width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
  text-transform: none;
  background-color: rgba(30, 143, 255, 0.312);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

.duty {
  min-height: 1em;
  font-weight: normal;
  color: red;
  text-transform: uppercase;
}

.bowler {
  min-width: 220px;
  max-width: 220px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  align-items: left;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-align: left;
  padding: 10px;
  margin: 5px;
}

.role {
  text-align: right;
  text-transform: uppercase;
  font-weight: normal;
  color: red;
}

.position {
  font-weight: lighter;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.name {
  grid-column: span 2;
  font-size: 1rem;
  font-weight: bold;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  min-width: 100px;
  max-width: 100px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.result[data-teamWinDrawLoss="up"] {
  background-color: rgba(0, 128, 0, 0.15);
}

.result[data-teamWinDrawLoss="down"] {
  background-color: rgba(255, 0, 0, 0.15);
}

.result[data-teamWinDrawLoss="draw"] {
  background-color: rgba(255, 166, 0, 0.15);
}
