@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Stylesheet for pennant sides and results */

:root {
  --radius: 30px;
  --shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  --winColor: rgba(0, 128, 0, 0.45);
  --lossColor: rgba(255, 0, 0, 0.45);
  --drawColor: rgba(255, 166, 0, 0.45);
  --gridGap: 1rem;
  --teamWidth: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background: linear-gradient(
    to bottom right,
    dodgerblue,
    white,
    rgb(247, 237, 105)
  );
  background-attachment: fixed;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

main {
  color: rgb(40, 40, 40);
}

h1 {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
}

strong {
  font-weight: bold;
}

.match {
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 5px;
  margin: 10px;
}

.competition {
  color: rgb(40, 40, 40);
  font-size: 1.3rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.verticalRule {
  width: 2px;
  background-color: gray;
  margin: 0 10px;
}

.round {
  color: darkslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.round p {
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  background-color: rgba(30, 143, 255, 0.1);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 10px;
}

.round img {
  display: inline-block;
  vertical-align: middle;
}

.ionicon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}

.round span {
  display: inline-block;
}

a:link {
  color: currentColor;
  text-decoration: underline;
}

a:visited {
  color: currentColor;
  text-decoration: underline;
}

a:hover {
  color: currentColor;
  text-decoration: none;
}

a:active {
  color: currentColor;
  text-decoration: underline;
}

/* .liveLink:link .liveLink:visited {
  color: rgb(40, 40, 40);
  text-decoration: underline;
}

.liveLink:hover {
  color: rgb(40, 40, 40);
  text-decoration: none;
} */

.side {
  display: grid;
  gap: var(--gridGap);
  margin-bottom: 1.25rem;
  justify-content: center;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.5);
  font-size: 1.4rem;
  text-transform: uppercase;
  color: darkslategray;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 10px;
  margin: 10px;
}

.sideHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 15px;
}

.sideResult {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 15px;
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  font-weight: bold;
}

.sideResult[data-sideResult="up"] {
  background-color: var(--winColor);
}

.sideResult[data-sideResult="down"] {
  background-color: var(--lossColor);
}

.sideResult[data-sideResult="draw"] {
  background-color: var(--drawColor);
}

.sidePoints {
  font-weight: normal;
  text-transform: lowercase;
}

.sideHeaderTile {
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  text-align: left;
  text-transform: uppercase;
  align-content: center;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 10px;
}

.sideHeaderTileTitle {
  font-weight: lighter;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.sideHeaderTileDetails {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: none;
  color: black;
}

.sideName {
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: darkblue;
  align-content: space-around;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 10px;
}

.sideManager {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: bold;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.team {
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
  text-transform: none;
  background-color: rgba(30, 143, 255, 0.312);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.duty {
  min-height: 1em;
  font-weight: normal;
  color: red;
  text-transform: uppercase;
}

.bowler {
  min-width: var(--bowlerWidth);
  max-width: var(--bowlerWidth);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  text-align: left;
  padding: 10px;
}

.role {
  text-align: right;
  text-transform: uppercase;
  font-weight: normal;
  color: red;
}

.position {
  font-weight: lighter;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.name {
  grid-column: span 2;
  font-size: 1rem;
  font-weight: bold;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  min-width: calc(var(--teamWidth) / 2);
  max-width: calc(var(--teamWidth) / 2);
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.result[data-teamResult="up"] {
  background-color: var(--winColor);
}

.result[data-teamResult="down"] {
  background-color: var(--lossColor);
}

.result[data-teamResult="draw"] {
  background-color: var(--drawColor);
}
