/* Stylesheet for pennant sides and results */
@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom right, dodgerblue, white, rgb(247, 237, 105));
  margin: 5px;
}

h1 {
  text-align: center;
  margin: 1rem;
  font-size: 3rem;
}

.competition {
  color: rgb(40, 40, 40);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

.competition p {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.verticalRule {
  width: 2px;
  background-color: gray;
  margin: 0 10px;
}

.round {
  color: darkslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.round p {
  min-width: 250px;
  max-width: 250px;
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  background-color: rgba(30, 143, 255, 0.312);
  border: 2px solid lemonchiffon;
  border-radius: 30px;
  padding: 10px;
}
.round a {
  color: currentColor;
  text-decoration: underline;
}

.round a:hover {
  color: black;
  text-decoration: none;
}

.round img {
  display: inline-block;
  vertical-align: middle;
}

.ionicon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
}

.round span {
  display: inline-block;
}
