@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Stylesheet for pennant sides and results */

:root {
  --radius: 30px;
  --shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  --winColor: rgba(0, 128, 0, 0.45);
  --lossColor: rgba(255, 0, 0, 0.45);
  --drawColor: rgba(255, 166, 0, 0.45);
  --primaryBackgroundColor: rgb(247, 237, 105);
  --gridGap: 1rem;
  --teamWidth: 250px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background: linear-gradient(
    to bottom right,
    dodgerblue,
    white,
    var(--primaryBackgroundColor)
  );
  background-attachment: fixed;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

main {
  color: rgb(40, 40, 40);
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  display: grid;
  width: 100%;
  height: auto;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 8rem auto 8rem;
  gap: 10px;
}

/* .header-item {
} */

.header-logo-container {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  width: 6rem;
  height: auto;
}

.header-title-container {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  display: flex;
  flex: 1;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 2rem;
  font-weight: 700;
  color: darkblue;
}

.header-login-container {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.header-login {
  width: 1.5rem;
  height: auto;
}

.header-navbar-container {
  grid-column: 2 / 4;
  grid-row: 2 / 2;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
}

.header-navbar-item {
  display: flex;
  width: 8rem;
  height: 2rem;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: antiquewhite;
  font-weight: normal;
  text-decoration: none;
}

.header-navbar-item:hover {
  background-color: antiquewhite;
  color: black;
  font-weight: bold;
}

.header-navbar-dropdown {
  position: relative;
  display: inline-block;
}

.header-navbar-dropdown-container {
  display: none;
  position: absolute;
  background-color: black;
  color: antiquewhite;
  width: 8rem;
  height: 2rem;
  min-width: 8rem;
  z-index: 1;
}

.header-navbar-dropdown-container:hover {
  background-color: antiquewhite;
  color: black;
  display: block;
}

.header-navbar-dropdown-item {
  background-color: black;
  color: antiquewhite;
  font-weight: normal;
  text-decoration: none;
  display: block;
}

.header-navbar-dropdown-item:hover {
  background-color: antiquewhite;
  color: black;
  font-weight: bold;
}
