@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Stylesheet for pennant sides and results */

:root {
  --navbar-item-width: 8rem;
  --navbar-item-height: 2rem;
  --navbar--item-color: antiquewhite;
  --navbar-item-background-color: black;
  --navbar-item-hover-color: black;
  --navbar-item-hover-background-color: antiquewhite;
  --ticker-gap: 15px;
  --ticker-message-color: rgb(61, 7, 76);
  --ticker-category-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background: linear-gradient(to bottom right, dodgerblue, white, lemonchiffon);
  background-attachment: fixed;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

main {
  color: rgb(40, 40, 40);
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  display: grid;
  width: 100%;
  height: auto;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 8rem auto 8rem;
  gap: 10px;
}

/* .header-item {
} */

.header-logo-container {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.header-logo {
  width: 6rem;
  height: auto;
}

.header-title-container {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  display: flex;
  flex: 1;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 2rem;
  font-weight: 700;
  color: darkblue;
}

.header-login-container {
  grid-column: 3 / 3;
  grid-row: 1 / 1;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.header-login {
  width: 1.5rem;
  height: auto;
}

/* navigation bar */

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-dropdown {
  float: left;
  overflow: hidden;
}

.navbar-dropdown .navbar-dropdown-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.navbar-dropdown:hover .navbar-dropdown-button {
  background-color: red;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-dropdown-content a:hover {
  background-color: #ddd;
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

/* ticker */

.ticker {
  border: none;
  display: flex;
  gap: var(--ticker-gap);
  overflow: hidden;
  padding-block: 6px;
  user-select: none;
  margin-inline: 4px;
}

.ticker ul {
  align-items: center;
  animation: scroll 20s linear infinite;
  display: flex;
  flex-shrink: 0;
  gap: var(--ticker-gap);
  justify-content: space-between;
  list-style: none;
  min-width: 100%;
}

.ticker-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticker-category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 8px;
  border-radius: 15px;
  color: var(--ticker-category-color);
  background-color: var(--ticker-message-color);
  font-weight: bold;
}

.ticker-message {
  color: var(--ticker-message-color);
  font-weight: normal;
  margin: 3px 7px;
}

.ticker:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(calc(-100% - var(--ticker-gap)));
  }
}
