package templates

import (
  "github.com/nigelpage/hbc/common"
)

templ HeaderLayout(tickerItems *[]common.TickerItem) {
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBC</title>
    <link rel="apple-touch-icon" sizes="180x180" href="static/assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/assets/img/favicon/site.webmanifest">
    <script src="/static/assets/js/htmx.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/index/assets/css/styles.css">
  </head>

  <body>
    <section id="pageHeader">
      if len(*tickerItems) > 0 {
        <div class="ticker">
          <ul>
          for _, tItem := range *tickerItems {
            <li class="ticker-item-container">
              <div class="ticker-category">{ tItem.Category }</div>
              <span class="ticker-message">{ tItem.Message }</span>
            </li>
          }
          </ul>
        </div>
      }

      <div class="header-container">
        <div class="header-item header-logo-container">
          <img src="static/index/assets/img/hbc-logo.webp" alt="Heathmont Bowls Club" class="header-item header-logo"/>
        </div>
        <div class="header-item header-title-container">
          <h1 class="header-item header-title">Heathmont Bowls Club</h1>
        </div>
        <div class="header-item header-login-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="header-item header-login">
            <path d="M256 256a112 112 0 10-112-112 112 112 0 00112 112zm0 32c-69.42 0-208 42.88-208 128v64h416v-64c0-85.12-138.58-128-208-128z"/>
          </svg>
        </div>

        <nav class="navbar" hx-target="#pageBody" hx-headers='{"X-HBC-fromHeader": "true"}'>
          for _, menu := range common.HeaderMenusAndSubMenus {
            if len(menu.SubMenus) > 0 {
                  <div class="navbar-dropdown">
                    <button class="navbar-dropdown-button">{ menu.Text }
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="navbar-dropdown-content">                    
                    for _, subMenu := range menu.SubMenus {
                      if subMenu.Text != "" {
                        <a hx-get="{ url }">{ subMenu.Text }</a>
                      }
                    }
                    </div>
                  </div>
              } else {
                      <a hx-get="{ menu.Url }">{ menu.Text }</a>
              }
          }
        </nav>

      </div>
    </section>


    <section id="pageBody">
    </section>

  </body>
</html>
}