@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Stylesheet for pennant sides and results */

#pageBody {
  --radius: 30px;
  --shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  --winColor: rgba(0, 128, 0, 0.45);
  --lossColor: rgba(255, 0, 0, 0.45);
  --drawColor: rgba(255, 166, 0, 0.45);
  --primaryBackgroundColor: rgb(247, 237, 105);
  --gridGap: 1rem;
  --teamWidth: 250px;
  --headerBarBackgroundColor: #bcb904;
  --headerBarColor: rgb(53, 53, 53);
}

.competition-header-container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-rows: 1fr;
  grid-template-columns: 8rem auto 8rem;
  gap: 10px;
  overflow: hidden;
}

.competition-header {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  display: flex;
  flex: 1;
  float: left;
  align-items: center;
  height: auto;
  background-color: var(--headerBarBackgroundColor);
  color: var(--headerBarColor);
}

.competition-header h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: lowercase;
  margin: 5px;
  float: left;
}

.competition-type {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: lowercase;
  margin: 5px 10px;
  width: 120px;
  padding: 7px;
  border: none;
  background-color: var(--headerBarBackgroundColor);
  color: var(--headerBarColor);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.competition-header .competition-header-item {
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: lowercase;
  margin: 5px 10px;
}

.competition-type:focus {
  outline: none;
  box-shadow: var(--shadow);
}

.week-calendar {
  position: relative;
  margin: 5px 10px;
  padding: 7px;
  width: 500px;
  border: none;
  outline: none;
  background-color: var(--headerBarBackgroundColor);
  color: var(--headerBarColor);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.matchFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.competition {
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
  margin: 1rem;
}

.match {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 5px;
  margin: 10px;
}

.verticalRule {
  width: 2px;
  background-color: gray;
  margin: 0 10px;
}

.round {
  color: darkslategray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.round p {
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  background-color: rgba(30, 143, 255, 0.1);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 10px;
}

.round img {
  display: inline-block;
  vertical-align: middle;
}

.alignedItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ionicon {
  width: 1.2rem;
  height: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  fill: currentColor;
}

.ionicon-phone {
  width: 1.2rem;
  height: auto;
  vertical-align: middle;
  margin: 0 5px 0 0;
  padding: 0;
  fill: currentColor;
}

.ionicon-home {
  width: 1.2rem;
  height: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  fill: dodgerblue;
}

.ionicon-away {
  width: 1.2rem;
  height: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  fill: rgb(188, 28, 252);
}

.alignedText {
  vertical-align: middle;
  padding-left: 5px;
}

.round span {
  display: inline-block;
  vertical-align: middle;
}

a:link {
  color: currentColor;
  text-decoration: underline;
}

a:visited {
  color: currentColor;
  text-decoration: underline;
}

a:hover {
  color: currentColor;
  text-decoration: none;
}

a:active {
  color: currentColor;
  text-decoration: underline;
}

.side {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;
  gap: var(--gridGap);
  justify-content: center;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.5);
  font-size: 1.4rem;
  text-transform: uppercase;
  color: darkslategray;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 10px;
  margin: 10px 0px;
}

.sideHeader {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sideResult {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  font-weight: bold;
}

.sideResult[data-sideResult="up"] {
  background-color: var(--winColor);
}

.sideResult[data-sideResult="down"] {
  background-color: var(--lossColor);
}

.sideResult[data-sideResult="draw"] {
  background-color: var(--drawColor);
}

.sidePoints {
  font-weight: normal;
  text-transform: lowercase;
}

.sideHeaderTile {
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  text-align: left;
  text-transform: uppercase;
  align-content: center;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 10px;
}

.sideHeaderTileTitle {
  font-weight: lighter;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.sideHeaderTileDetails {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: none;
  color: black;
}

.sideName {
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: var(--primaryBackgroundColor);
  background-color: darkblue;
  align-content: space-around;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 10px;
}

.sideManager {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: bold;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.team {
  min-width: var(--teamWidth);
  max-width: var(--teamWidth);
  padding: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
  text-transform: none;
  background-color: rgba(30, 143, 255, 0.312);
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.duty {
  min-height: 1em;
  font-weight: normal;
  color: red;
  text-transform: uppercase;
}

.bowler {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  width: 100%;
  background-color: whitesmoke;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  text-align: left;
  padding: 10px;
}

.role {
  text-align: right;
  text-transform: uppercase;
  font-weight: normal;
  color: red;
}

.position {
  font-weight: lighter;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.name {
  grid-column: span 2;
  font-size: 1rem;
  font-weight: bold;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
  min-width: calc(var(--teamWidth) / 2);
  max-width: calc(var(--teamWidth) / 2);
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.result[data-teamResult="up"] {
  background-color: var(--winColor);
}

.result[data-teamResult="down"] {
  background-color: var(--lossColor);
}

.result[data-teamResult="draw"] {
  background-color: var(--drawColor);
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}
